<!--{% block title %}Home{% endblock %}-->
{% block content%}
<style>
        p.block{
      margin:0;
      padding:0 0 4px 0;
      }
      </style>
<head>
  <meta charset="utf-8">
  <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
      crossorigin="anonymous"
    />
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static', filename='mystyle.css') }}"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='charts.min.css') }}">
    <!-- <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
      crossorigin="anonymous"
    /> -->
</head>

<body>

<div class="container">
    <div class="row">
          <div class="col-sm">
            <big>Расчет углеродного следа грузовых перевозок</big>
            <br /> <br />
            <small>введите данные о ммаршруте перевозки и параметрах груза, чтобы рассчитать предварительную стоимость заказа</small>
            <br /><br />
            <small>по возникшим вопросам вы можете обратиться в службу поддержки:</small>
            <br />
            <i class="far fa-phone-alt"></i>
            <a class="text-nowrap" href="tel:+74956331625">+7 495 633-16-25</a>
            <a href="/logout" class="btn btn-primary">
                <span class="glyphicon glyphicon-log-out"></span> Log out
            </a>

          </div>
          <div class="col-9">
              <div align="center">
                    <form method="POST">
                        <br />
                        <big><b>Маршрут перевозки</b></big>
                        <div class="container">
<!--                            <div class="row">-->
<!--                                  <div class="col-sm">-->
<!--                                      Откуда-->
<!--                                  </div>-->
<!--                                  <div class="col-sm">-->
<!--                                      Куда-->
<!--                                  </div>-->
<!--                            </div>-->
                            <div class="row">
                                  <div class="col-sm">
                                      <p style="margin-bottom:5px">Откуда</p>
                                      <select class="form-control" name="routefrom">
                                            {% for case in stations%}
                                                <option {{'selected' if case=="Ангасолка" else ""}}>{{case}}</option>
                                            {% endfor %}
                                      </select>
                                  </div>
                                  <div class="col-sm">
                                      <p style="margin-bottom:5px">Куда</p>
                                      <select class="form-control" name="routeto">
                                          {% for case in stations%}
                                                <option {{ 'selected' if case=="Зима" else "" }}>{{case}}</option>
                                          {% endfor %}
                                      </select>
                                  </div>
                            </div>
                            <p class="block">
                        </div>
                        <p class="block">
                        <big><b>Параметры перевозки</b></big>
                        <p class="block">
                        <div class="container">
                            <div class="row">
                                  <div class="col-7">
                                        <p style="margin-bottom:5px">Тип груза</p>
                                        <select class="form-control"  name="cargoType" placeholder="тип груза">
                                            {% for case in typeCargo %}
                                                  <option>{{case}}</option>
                                            {% endfor %}
                                        </select>
<!--                                        <input-->
<!--                                          type="text"-->
<!--                                          class="form-control"-->
<!--                                          id="cargoname"-->
<!--                                          name="cargoname"-->
<!--                                          placeholder="Наименование груза"-->
<!--                                        />-->
                                        <p class="block">

<!--                                        <p class="block">-->

                                    </div>
                                    <div class="col-sm">
                                            <p style="margin-bottom:5px">Тип упаковки</p>
                                            <select class="form-control" name="pacageType" placeholder="тип упаковки">
                                                {% for case in typePackage %}
                                                      <option>{{case}}</option>
                                                {% endfor %}
                                            </select>
                                            <p class="block">
                                    </div>
                              </div>
                              <div class="row">
                                    <div class="col-7">
                                        <input
                                            style="margin-top:15px"
                                            class="form-control"
                                            id="cargowight"
                                            name="cargowight"
                                            placeholder="Вес груза"
                                            type="number"
                                        />
                                    </div>
                                    <div class="col-sm">
                                            <input
                                                style="margin-top:15px"
                                                class="form-control"
                                                id="cargovoluume"
                                                name="cargovoluume"
                                                placeholder="Объем груза"
                                                type="number"
                                             />

                                    </div>
                              </div>
                              <div class="row">
                                    <div class="col-sm">
                                    </div>
                                    <div align="right" style="margin-top:15px" class="col-sm">
                                          <button type="submit" class="btn btn-primary" name="submit_button" value="submit1">Расчитать</button>
                                    </div>
                              </div>
                        </div>
                        <br />
                        <br />
                  </form>
              </div>
          </div>
      </div>
      {%if result%}

              <div class="row center_class">
                      <div class="sketchy" style="align-content: center">
                          <p style="font-size: large; font-family: 'Just Another Hand', cursive;">Перевозка произведёт {{truck_result}} тонн углекислого газа</p>
                      </div>
              </div>

      {%endif%}
</div>
</body>
{% endblock %}
