@property --p{
  syntax: '<number>';
  inherits: true;
  initial-value: 0;
}


.pie {
  width:300px;
  aspect-ratio:1;
  position:relative;
  display:inline-grid;
  left: calc((100% - 300px) / 2);
  margin:5px;
  place-content:center;
  font-size:25px;
  font-weight:bold;
  font-family:sans-serif;
}


.pie:before {
  content:"";
  position:absolute;
  border-radius:50%;
  inset:0;
  background:
    radial-gradient(farthest-side,var(--c) 98%,#0000) top/16px 16px no-repeat,
    conic-gradient(var(--c) calc(var(--p)*1%),#0000 0);
  -webkit-mask:radial-gradient(farthest-side,#0000 calc(99% - 16px),#000 calc(100% - 16px));
          mask:radial-gradient(farthest-side,#0000 calc(99% - 16px),#000 calc(100% - 16px));
}

.pie:after {
  content:"";
  position:absolute;
  border-radius:50%;
  inset:calc(50% - 8px);
  background:var(--c);
  transform:rotate(calc(var(--p)*3.6deg)) translateY(calc(50% - 150px));
}

body {
  background: RGBA(0,0,0,0);
}
